body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  div.person__info{
    justify-content: center;
  }
  div.avatar{
    position: unset;
    margin-left: 1rem;
    margin-top: 5rem;
  }
  div.contacts{
    margin-top: 20rem;
  }
  div.contacts__name{
    margin-top: -5rem;
  }
  @media all and (max-width: 768px)
   body{
    }
  div.person__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  div.avatar{
    margin: 5rem 0 0rem 2rem;
    }
  div.contacts__role{
    position: unset;
    margin-top: 22rem;
  }
  div.contacts{
    margin: 0.25rem;
    padding: 0rem;
  }
  div.person__details{
    padding: 0rem;
    margin: 2rem 0 0 0.25rem;
  }