@media (max-width: 1300px){
  .person__info {
    margin-left: calc(5% - 2rem);
  }
  .person__details{
    margin-left: calc(5% - 2rem);
  }
  .contacts{
    margin-left: calc(40% - 2rem);
  }
}
  @media (max-width: 900px){
  
  .person__info{
    margin-left: 5%;
  }
  .avatar {
    margin-left: 5%;
  }
  .contacts{
    margin-left: 0;
    margin-top: 20rem;
  }
  .person__details_title{
    margin-left: -5rem;
    margin-top: -5rem;
  }
  .person__details{
    margin: 1rem;
  }
  #button{
    margin-left: 40%;
    margin-bottom: 2rem;
  }
}
@media all and (max-width: 500px){
  #fireworks {
    display: none;
    height: 100rem;
    width: 100vh;
    position:absolute;
    top: 0;
    left: 0;
  }
}